.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ec7ff;
  border: none;
  margin-right: 20px;
  padding: 2px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  scale: 1.1;
}