.main {
  width: 100%;
  height: 645px;
  background-color: #f5f5f5;
  grid-area: main;
  max-height: 100%;
  overflow-y: auto;
}
.mainHeader {
  margin-left: 3rem;
  margin-top: 1rem;
  color: #54a7c1;
  font-size: 2em;
  font-family: arial;
  font-weight: bold;
}
.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

