.Home {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 400px;
  grid-template-areas: "header header header" "main main calendar" "footer footer footer";
}

@media (max-width: 930px) {
  .Home {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  
}