.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 14px 0;
  border-bottom: solid 1px black;
}
.logoContainer {
  text-align: start;
  margin-left: 1rem;
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media (max-width: 880px) {
  .header {
    grid-template-columns: 1fr;
    margin: auto ;
  }
  .logoContainer {
    text-align: center;
    margin-left: 0;
  }
  .navContainer {
    padding-left: 20px;
  }
}